
@{
    ViewBag.Title = "Create";
}

@model  TeamsToDoAppConnector.Models.TaskItem

<h2>Create New Task</h2>
@using (Html.BeginForm("create", "task", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Title</label>
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Description</label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label class="control-label">Assign To</label>
            @Html.EditorFor(model => model.Assigned, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Assigned, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Cancel", "index", new object() { }, new { @class = "btn btn-default" })
    </div>
}


