
@using TabActivityFeed.Model
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/&#64;microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/&#64;microsoft/mgt/dist/bundle/mgt-loader.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <!-- Microsoft Teams sdk must be referenced before the toolkit -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://statics.teams.cdn.office.net/sdk/v1.10.0/js/MicrosoftTeams.min.js" integrity="sha384-6oUzHUqESdbT3hNPDDZUa/OunUj5SoxuMXNek1Dwe6AmChzqc6EJhjVrJ93DY/Bv" crossorigin="anonymous"></script>
    <title>Screen</title>
    <script>
        $(document).ready(function () {
        });

        microsoftTeams.initialize();
        var token = localStorage.getItem("accessToken");
        var username = "";
        var userId = "";

        microsoftTeams.getContext(function (context) {
            console.log(context);
            username = context.upn;
            userId = context.userObjectId;
            console.log(token);
            if (token != null) {
                $("#consent").hide();
            }
            if (username == "admin@M365x881152.onmicrosoft.com") {
                $("#managerList").hide();
            }
            else {
                $("#userRequest").hide();
            }
        });

        var empty = true;
        $('input[type="text"]').each(function () {
            if ($(this).val() != "") {
                empty = false;
                return false;
            }
        });

        function ApproveRequest(e) {
            var taskId = $(e.currentTarget).attr('data-app-itemid');
            let taskInfo = {
                taskId: taskId,
                status: "Approved",
                access_token: token,
            };
            console.log(taskInfo);
            $.ajax({
                type: 'POST',
                url: '/SendNotificationToUser',
                dataType: 'json',
                data: taskInfo
            });
        };

        function RejectRequest(e) {
            var taskId = $(e.currentTarget).attr('data-app-itemid');
            let taskInfo = {
                taskId: taskId,
                status: "Rejected",
                access_token: token,
            };
            console.log(taskInfo);
            $.ajax({
                type: 'POST',
                url: '/SendNotificationToUser',
                dataType: 'json',
                data: taskInfo
            });
        };

        function SendNotificationToManager() {
            var isValid = true;
            $('#title,#description').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
                return false;
            }
            let taskInfo = {
                title: $('#title').val(),
                description: $('#description').val(),
                userName: username,
                managerName: "meganb@M365x881152.onmicrosoft.com",
                access_token: token,
            };
            $.ajax({
                type: 'POST',
                url: '/SendNotificationToManager',
                dataType: 'json',
                data: taskInfo
            });

            microsoftTeams.tasks.submitTask(taskInfo);

            return true;
        };
    </script>
</head>

<body>
    <button onclick="requestConsent()" id="consent">Login</button>
    <mgt-teams-msal2-provider client-id="d45923ab-a663-4eb8-877b-c4cc931362ff"
                              auth-popup-url="tabAuth"
                              scopes="User.Read,Mail.ReadBasic"></mgt-teams-msal2-provider>
    <mgt-login></mgt-login>
    <mgt-people-picker></mgt-people-picker>
    <div id="userRequest">
        <div class="mb">
            <div class="form-group fg">
                <label for="title" class="title"> Request title</label>
                <br />
                <input type="text" id="title" name="requesttitle">
            </div>
            <div class="form-group fg">
                <label for="title-desc" class="description"> Request description</label>
                <br />
                <input type="text" id="description" name="taskdescription">
            </div>

        </div>
        <div class="modal-footer mf">
            <button type="button" class="btn-send save" onclick="return SendNotificationToManager()">Send Request</button>
        </div>
        <br />
        <div>
            @{
                var data = ViewBag.TaskList;
                var message = ViewBag.Message;
            }
            @{int Count = 1;}
            @if (data != null)
            {
                <table border="1" class="table table-hover">
                    <thead>
                        <tr>
                            <td>Sr No.</td>
                            <td>Title</td>
                            <td>Description</td>
                            <td>With</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data)
                        {
                            <tr style="padding:1px">
                                <td>@Count</td>
                                <td>@item.title</td>
                                <td>@item.description</td>
                                <td>@item.managerName</td>
                                <td>@item.status</td>
                            </tr>
                            Count = Count + 1;
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>@message</div>
            }
        </div>
    </div>
    <div id="managerList">
        <div>
            @{
                var managerRequestList = ViewBag.TaskList;
                var managerMessage = ViewBag.Message;
            }
            @{int i = 1;}
            @if (data != null)
            {
                <table border="1" class="table table-hover">
                    <thead>
                        <tr>
                            <td>Sr No.</td>
                            <td>Title</td>
                            <td>Description</td>
                            <td>From</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in managerRequestList)
                        {
                            if (item.status == "Pending")
                            {
                                <tr style="padding:1px">
                                    <td>@i</td>
                                    <td>@item.title</td>
                                    <td>@item.description</td>
                                    <td>@item.userName</td>
                                    <td><button type="button" class="btn btn-outline-success" data-app-itemid="@item.taskId" onclick="ApproveRequest(event)">Approve</button></td>
                                    <td><button type="button" class="btn btn-outline-info" data-app-itemid="@item.taskId" onclick="RejectRequest(event)">Reject</button></td>

                                </tr>
                                Count = Count + 1;
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div>@managerMessage</div>
            }
        </div>
    </div>
</body>

</html>