<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Hello World Sample App</title>
    @Styles.Render("~/Content/msteams-16.css")
    @Styles.Render("~/Content/Custom.css")
    @Styles.Render("~/Content/Site.css")
    <script src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</head>
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>
</body>
</html>
